<div class="container py-3 w-75 h-100 d-flex justify-content-center align-items-center">
    <form
        class="w-100 border shadow position-relative"
        role="form"
        (ngSubmit)="onSubmit()"
        [formGroup]="resetForm"
        novalidate
    >
        <app-loader [isLoading]="pending"></app-loader>
        <h4
            class="text-secondary d-flex flex-row align-items-center justify-content-center w-100 p-3 mb-3 bg-dark text-light rounded-top"
        >
            <span class="material-icons mx-3">account_circle</span>Reset your password
        </h4>
        <div class="form-group row px-3">
            <label for="name" class="col-sm-3 col-form-label">E-Mail</label>
            <div class="col-sm-9">
                <input
                    type="text"
                    id="name"
                    name="email"
                    formControlName="email"
                    [placeholder]="'Please, enter your e-mail here'"
                    class="form-control"
                    [ngClass]="{
                        'is-invalid': resetForm.controls['email'].invalid && !resetForm.controls['email'].untouched
                    }"
                />
                <div
                    class="invalid-feedback"
                    *ngIf="resetForm.controls['email'].invalid && !resetForm.controls['email'].untouched"
                >
                    <span translate>Email is required</span>
                </div>
            </div>
        </div>
        <div class="form-group row px-3">
            <label for="password" class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
                <input
                    type="password"
                    id="password"
                    name="password"
                    formControlName="password"
                    [placeholder]="'Please, enter new password here'"
                    class="form-control"
                    [ngClass]="{
                        'is-invalid':
                            resetForm.controls['password'].invalid && !resetForm.controls['password'].untouched
                    }"
                />
                <div
                    class="invalid-feedback"
                    *ngIf="resetForm.controls['password'].invalid && !resetForm.controls['password'].untouched"
                >
                    <span translate>Password is required</span>
                </div>
            </div>
        </div>
        <div class="form-group row px-3">
            <label for="confirmPassword" class="col-sm-3 col-form-label">Confirm Password</label>
            <div class="col-sm-9">
                <input
                    type="password"
                    id="confirmPassword"
                    name="confirmPassword"
                    formControlName="confirmPassword"
                    [placeholder]="'Please, confirm new password here'"
                    class="form-control"
                    [ngClass]="{
                        'is-invalid':
                            resetForm.controls['confirmPassword'].invalid &&
                            !resetForm.controls['confirmPassword'].untouched
                    }"
                />
                <div
                    class="invalid-feedback"
                    *ngIf="
                        resetForm.controls['confirmPassword'].invalid &&
                        !resetForm.controls['confirmPassword'].untouched
                    "
                >
                    <span translate>Confirm Password is required</span>
                </div>
            </div>
        </div>
        <div class="form-group row px-3 m-0">
            <div
                class="alert alert-danger"
                [hidden]="pending || !errorMessage || (!resetForm.pristine && resetForm.invalid)"
                translate
            >
                <b>{{
                    (errorMessage || (!resetForm.pristine && resetForm.invalid) || "") &&
                        "Register form has invalid data."
                }}</b>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-start border-top p-3">
            <button class="btn btn-dark" type="submit" [disabled]="resetForm.invalid || pending">Reset</button>
        </div>
    </form>
</div>
