<div class="not-found">
    <div class="wd-xl">
        <!-- START card-->
        <div class="text-center mb-4">
            <div class="display-4 mb-3">404</div>
            <p class="lead m0">We couldn't find this page.</p>
        </div>
        <ul class="list-inline text-center text-sm mb-4">
            <li class="list-inline-item">
                <a class="text-muted" [routerLink]="'/'">Go back</a>
            </li>
            <li class="text-muted list-inline-item">|</li>
            <li class="list-inline-item">
                <a class="text-muted" [routerLink]="'/login'">Login</a>
            </li>
            <li class="text-muted list-inline-item">|</li>
            <li class="list-inline-item">
                <a class="text-muted" [routerLink]="'/register'">Register</a>
            </li>
        </ul>
    </div>
</div>
