<div class="register-container">
    <div class="d-flex align-content-center justify-content-center text-primary">
        <div>
            <div class="material-icons">account_circle</div>
            <!-- account_circle -->
            <span>Sign Up</span>
        </div>
    </div>
    <div class="register-box">
        <app-loader class="inline-loader" [isLoading]="pending"></app-loader>
        <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" novalidate>
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Email</label>
                <input
                    type="text"
                    id="name"
                    name="email"
                    formControlName="email"
                    [placeholder]="'Email'"
                    class="form-control"
                    [ngClass]="{
                        'is-invalid':
                            registerForm.controls['email'].invalid && !registerForm.controls['email'].untouched
                    }"
                />
                <div
                    class="invalid-feedback"
                    *ngIf="registerForm.controls['email'].invalid && !registerForm.controls['email'].untouched"
                >
                    <span translate>Email is required</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">Password</label>
                <input
                    type="password"
                    id="password"
                    name="password"
                    formControlName="password"
                    [placeholder]="'Password'"
                    class="form-control"
                    [ngClass]="{
                        'is-invalid':
                            registerForm.controls['password'].invalid && !registerForm.controls['password'].untouched
                    }"
                />
                <div
                    class="invalid-feedback"
                    *ngIf="registerForm.controls['password'].invalid && !registerForm.controls['password'].untouched"
                >
                    <span translate>Password is required</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="confirmPassword" class="col-sm-2 col-form-label">Password</label>
                <input
                    type="password"
                    id="confirmPassword"
                    name="confirmPassword"
                    formControlName="confirmPassword"
                    [placeholder]="'Confirm Password'"
                    class="form-control"
                    [ngClass]="{
                        'is-invalid':
                            registerForm.controls['confirmPassword'].invalid &&
                            !registerForm.controls['confirmPassword'].untouched
                    }"
                />
                <div
                    class="invalid-feedback"
                    *ngIf="
                        registerForm.controls['confirmPassword'].invalid &&
                        !registerForm.controls['confirmPassword'].untouched
                    "
                >
                    <span translate>Confirm Password is required</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
                <input
                    type="text"
                    id="firstName"
                    name="firstName"
                    formControlName="firstName"
                    [placeholder]="'First name'"
                    class="form-control"
                    [ngClass]="{
                        'is-invalid':
                            registerForm.controls['firstName'].invalid && !registerForm.controls['firstName'].untouched
                    }"
                />
                <div
                    class="invalid-feedback"
                    *ngIf="registerForm.controls['firstName'].invalid && !registerForm.controls['firstName'].untouched"
                >
                    <span translate>First name is required</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
                <input
                    type="text"
                    id="lastName"
                    name="lastName"
                    formControlName="lastName"
                    [placeholder]="'Last name'"
                    class="form-control"
                    [ngClass]="{
                        'is-invalid':
                            registerForm.controls['lastName'].invalid && !registerForm.controls['lastName'].untouched
                    }"
                />
                <div
                    class="invalid-feedback"
                    *ngIf="registerForm.controls['lastName'].invalid && !registerForm.controls['lastName'].untouched"
                >
                    <span translate>Last name is required</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="location" class="col-sm-2 col-form-label">Location</label>
                <input
                    type="text"
                    id="location"
                    name="location"
                    formControlName="location"
                    [placeholder]="'Location'"
                    class="form-control"
                    [ngClass]="{
                        'is-invalid':
                            registerForm.controls['location'].invalid && !registerForm.controls['location'].untouched
                    }"
                />
                <div
                    class="invalid-feedback"
                    *ngIf="registerForm.controls['location'].invalid && !registerForm.controls['location'].untouched"
                >
                    <span translate>Location is required</span>
                </div>
            </div>
            <div
                class="alert alert-danger"
                [hidden]="pending || !errorMessage || (!registerForm.pristine && registerForm.invalid)"
                translate
            >
                <b>{{
                    (errorMessage || (!registerForm.pristine && registerForm.invalid) || "") &&
                        "Register form has invalid data."
                }}</b>
            </div>
            <br />
            <button type="submit" [disabled]="registerForm.invalid || pending">
                <span translate>Register</span>
            </button>
        </form>
    </div>
</div>
