<div class="container py-3 w-75 h-100 d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column h-25 w-100 border shadow position-relative">
        <h4
            class="text-secondary d-flex flex-row align-items-center justify-content-center w-100 p-3 mb-2 bg-dark text-light rounded-top"
        >
            Login
        </h4>
        <div class="d-flex flex-shrink-1 justify-content-center align-items-center h-100">
            <span class="h2 text-black-50 font-weight-light p-0 m-0">Waiting for redirect...</span>
        </div>
    </div>
</div>
